* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
}

body {
    background-color: rgb(14, 14, 14);
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}
h2 {
    font-size: 6rem;
    font-weight: bold;
}
h3 {
    font-size: 4rem;
    font-weight: bold;
}
p {
    font-size: 4rem;
}

.top-banner {
    h2,
    p {
        text-align: center;
    }
    h2 {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}

.main-split {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-item {
    text-align: center;
    text-decoration: none;
    width: 50rem;
    border: 2px solid white;
    margin: 2rem;
    padding: 2rem;

    /* CSS Gradient */

    background: rgb(68, 68, 68);
    background: -moz-linear-gradient(
        45deg,
        rgba(68, 68, 68, 1) 10%,
        rgba(34, 34, 34, 1) 97%
    );
    background: -webkit-linear-gradient(
        45deg,
        rgba(68, 68, 68, 1) 10%,
        rgba(34, 34, 34, 1) 97%
    );
    background: linear-gradient(
        45deg,
        rgba(68, 68, 68, 1) 10%,
        rgba(34, 34, 34, 1) 97%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444",endColorstr="#222222",GradientType=1);

    /* ************ */

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 3rem;
    }
    transition: 0.25s;
    &:hover {
        border: 2px solid red;
    }
}

.hr {
    background-color: white;
    border: 1px solid white;
}

@media screen and (max-width: 700px) {
    .top-banner {
        h2 {
            font-size: 10vw;
        }
        p {
            font-size: 5vw;
        }
    }
}
@media screen and (max-width: 500px) {
    .flex a {
        h1 {
            font-size: 8vw;
        }
        p {
            font-size: 6vw;
        }
    }
}
