* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    font-family: 'Verdana';
}

body {
    background-color: rgb(14, 14, 14);
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}
h2 {
    font-size: 6rem;
    font-weight: bold;
}
h3 {
    font-size: 4rem;
    font-weight: bold;
}
p {
    font-size: 4rem;
}

.top-banner {
    h2,
    p {
        text-align: center;
    }
    h2 {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}

.main-split {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-item {
    text-align: center;
    text-decoration: none;
    width: 65rem;
    border: 2px solid white;
    border-radius: 2.5rem;
    margin: 2rem;
    padding: 2rem;

    h1 {
        font-size: 3.25rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 2.8rem;
    }
    transition: 0.25s;
    &:hover {
        border: 2px solid red;
    }
}

.hr {
    background-color: white;
    border: 1px solid white;
}

.flex-cover .flex a {
    // All panels
    border: 2px solid white;
    &:hover {
        border: 2px solid red;
    }
}

.instagram a {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.youtube a {
        background: linear-gradient(45deg, #ff0000, #d10000, #b80000, #9d0000, #7a0000, #620000);
}
.discord a {
    background: linear-gradient(45deg, rgb(101, 112, 232), rgb(56, 71, 237), rgb(49, 65, 239), rgb(38, 54, 235), rgb(20, 38, 235), rgb(0, 21, 255));
}
.websites a {
    background: linear-gradient(45deg, #25df00, #22cb00, #1eb300, #1ca800, #1a9d00, #188f00);
}
.reddit a {
    background: linear-gradient(45deg, #ff780a, #ff4400, #da3a00, #c13300, #b14400, #9e3d00);
}
.swtv a {
    background: linear-gradient(45deg, #ffff00, #dfdf00, #b9b900, #b9b900, #dfdf00, #fff200);
}

// Button screen size dynamic
@media screen and (max-width: 740px) {
    .flex a {
        h1 {
            font-size: 5vw;
        }
        p {
            font-size: 4vw;
        }
    }
    .discord a:first-child {
        h1 {
            font-size: 4.75vw;
        }
    }
}

// Top banner info screen size dynamic
@media screen and (max-width: 740px) {
    .top-banner {
        h2 {
            font-size: 8.5vw;
            margin-top: 2.5rem;
        }
        p {
            font-size: 6vw;
        }
    }
}

// Elements are bigger when it is one stacked on each other
@media screen and (max-width: 1470px) {
    .flex a {
        width: 80%;
    }
}

// Makes very small screen sizes look better
@media screen and (max-width: 500px) {
    .flex a {
        margin: 1rem;
    }
}